body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

nav {
    width: 200px;
    position: fixed;
    height: 100%;
    background: #f4f4f4;
    padding: 15px;
}

nav header {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.nav-link {
    display: block;
    color: #333;
    padding: 10px;
    text-decoration: none;
}

.nav-link:hover {
    background: #ddd;
}

main {
    margin-left: 220px; /* Navbar genişliği + boşluk */
    padding: 20px;
}

.main-section {
    margin-bottom: 20px;
}

.main-section header {
    font-size: 2em;
    margin-bottom: 10px;
}

code {
    background: #f4f4f4;
    padding: 5px;
    border-radius: 3px;
}

ul {
    margin-top: 10px;
    margin-left: 20px;
}

@media (max-width: 768px) {
    nav {
        width: 100%;
        position: relative;
        height: auto;
    }

    main {
        margin-left: 0; /* Navbar genişliği boşluğu kaldır */
    }
}